<div class="container">
  <div class="row">
     <div class="col-md-12 text-center">
     
      <div class="row">
      <div class="album col">
        <img src="http://4.bp.blogspot.com/-G8_gMSHf4TU/TirqcmoZ9aI/AAAAAAAAI6Q/-O58ClIcW4w/s320/patti_smith1.jpg" alt="Lamp" width="150" height="150">
        <p>Patti Smith - Horses</p>
        <button class="btn btn-primary">Play</button>
      </div>
      <div class="album col">
        <img src="http://4.bp.blogspot.com/-G8_gMSHf4TU/TirqcmoZ9aI/AAAAAAAAI6Q/-O58ClIcW4w/s320/patti_smith1.jpg" alt="Lamp" width="150" height="150">
        <p>Patti Smith - Horses</p>
        <button class="btn btn-primary">Play</button>
      </div>
      <div class="album col">
        <img src="http://4.bp.blogspot.com/-G8_gMSHf4TU/TirqcmoZ9aI/AAAAAAAAI6Q/-O58ClIcW4w/s320/patti_smith1.jpg" alt="Lamp" width="150" height="150">
        <p>Patti Smith - Horses</p>
        <button class="btn btn-primary">Play</button>
      </div>
      </div>
       
     </div>
     
     <div class="col-md-6">
     </div>
     
  </div>
</div>
